{% extends 'layout.html' %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <h2>{{ user.username }}</h2>
        <p class="bio">{{ user.bio }}</p>
        <p>abonnés: {{followers_number}}    abonnements: {{following_number}}</p>
        {% if request.user != user %}
           
                    {% if exist %}
                    <form action="{% url 'user_r:unfollow' request.user.username user.username %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                        Se désabonner                </button>

                    {% else %}
                    <form action="{% url 'user_r:subscription_to' request.user.username user.username %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                        S'abonner</button>
                    {% endif %}
            </form>
        {% endif %}
    </div>
</div>

>

{% endblock %}
